# This is a basic workflow to help you get started with Actions

name: Windows build

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
    tags:
      - '*'
  pull_request:
    branches: [ master ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:  
env:
  CARGO_TERM_COLOR: always

jobs:
  compile:
    runs-on: windows-latest
    steps:
      - uses: little-core-labs/get-git-tag@v3.0.1
        id: tagName
      -
        name: Checkout
        uses: actions/checkout@v2
        with: 
          submodules : true
      -
        name: build      
        run: | 
            run: cargo build --release --verbose
      -
        name: Upload exe
        uses: actions/upload-artifact@v2
        with:
          name: usb2snes-cli.exe
          path: target/release/usb2snes-cli.exe
      -
        name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: usb2snes-cli.exe
          draft: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
